.WeatherApp {
  text-align: center;
  margin: auto;
  border: 1px solid #949494;
  padding: 20px;
  max-width: 630px;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
}

.container {
  margin-top: 20px;
}
.search-form {
  display: block;
  margin: 0 auto;
  border-radius: 80px;
}

.current-location-button {
  margin-top: 7px;
  border-radius: 80px;
}

.current-location-button:hover {
  background: #cccccc9d;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: #757575;
}

h1 {
  padding: 30px;
  font-size: 40px;
  margin: 0;
}
h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
h3 {
  font-size: 20px;
  margin: 0;
}
h4 {
  display: block;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.units {
  top: -20px;
  position: relative;
  font-size: 20px;
}

.main-icon {
  position: relative;

  font-size: 40px;
}

li {
  color: #757575;
  display: block;
  text-align: center;
}
ul {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.temperature {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  text-align: middle;
}

.next-week {
  margin-top: 30px;
  color: #757575;
  text-align: center;
}

.images {
  display: block;
  height: 60px;
  width: 60px;
}

footer {
  display: block;
  text-align: center;
  margin-bottom: 500px;
}
