.WeatherApp {
  text-align: center;
  margin: 0 auto;
  border: 1px solid #949494;
  padding: 20px;
  max-width: 630px;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  display: block;
}

.search-form {
  display: block;
  margin: 0 auto;
  border-radius: 80px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: #757575;
}

h1 {
  padding: 30px;
  font-size: 40px;
  margin: 0;
}
h2 {
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 45px;
}
h4 {
  display: block;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.units {
  top: -30px;
  position: relative;
  font-size: 20px;
}

li {
  color: #757575;
  display: block;
  text-align: center;
  margin: 30px;
}
ul {
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.temperature {
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
  text-align: middle;
  margin-left: 10px;
}

.loader {
  text-align: center;
}

footer {
  display: block;
  text-align: center;
}

html {
  height: 100%;
}
.fahrenheitSmall {
  font-size: 10px;
}

.celsiusSmall {
  font-size: 10px;
}

.WeatherForecastPreview {
  text-align: center;
}

.WeatherForecastPreview canvas {
  display: block;
  margin: 10px auto;
}

.main-icon canvas {
  position: relative;
  top: 11px;
}
